/* Formatação Geral */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Be Vietnam Pro;
    color: #F8F8F8;
    background-color: #12130F;
    background-image: url(assets/background_flex.png);
    background-size: 120% 100%;
}

/* Topbar */
header{
    width: 90.52vw;
    height: 5.6rem;
    background-color: #000000;
    border-bottom: solid #404040;
    margin: 0rem 0rem 0rem 11.2rem;
    display: flex;
    position: fixed;
    z-index: 2;
}

#header-dimen{
    width: 90.52vw;
    height: 5.6rem;
    margin-bottom: 6.4rem;
}

#botao-avancar{
    height: 3.2rem;
    padding: 1.2rem 0.8rem 1.2rem 9.2rem;
    display: flex;
}

#botao-avancar-dir{
    padding: 0rem 0rem 0rem 0.8rem;
}

#barra-de-pesquisa{
    display: flex;
    width: 57.6rem;
    height: 4rem;
    margin: 0.8rem 0rem 0.8rem 6.4rem;
    border-radius: 15rem;
    background-color: #F8F8F8;
    font-size: 1.6rem;
    font-weight: 400;
    color:#D1D1D1;
}

#barra-txt{
    padding: 0.8rem 10.5rem 0.8rem 1.6rem;
}

#icon-lupa{
    height: 2.4rem;
    position: relative;
    top: 0.8rem;
    left: 5rem;
    bottom: 0.8rem;
}

#icon-micro{
    padding: 1.6rem 0rem 1.6rem 1.6rem;
    height: 2.4rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #000000;
    position: fixed;
}

.menu-item, #profile {
    width: 40%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 3rem;
}

.menu-item:hover {
    filter: brightness(120%);
}

#liked-songs, #history {
    margin-top: 28px;
}

#main-menu {
    top: 0;
    width: 112px;
    height: 100vh;
    background-color: #000000;
    border-right: solid;
    border-right-color: #404040;
}

#profile {
    width: 6rem;
    height: 6rem;
    background-image: url(assets/artistas/profile_pic_cadu116.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 28px;
    margin-left: 2rem;
    border: solid;
    border-width: 0.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#content-box {
    margin-top: 1.6rem;
}

#soul {
    margin-left: 3rem;
}

#song-menu {
    display: flex;
    flex-direction: row;
    justify-content: center space-around;
    width: 98.3vw;
    height: 7.5rem;
    bottom: 0;
    margin: 0;
    border: 3px solid #404040;
    border-bottom: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

#capa {
    height: 5.6rem;
    width: 5.6rem;
    margin: 5px;
    background-image: url(assets/musicas/justlikethis.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 2rem;
    top: 0.2rem;
}

#title {
    position: relative;
    top: 2rem;
    left: 3.2rem;
    }

#banda {
    font-style: italic;
    color: rgba(248, 248, 248, 0.6);
    position: relative;
    top: 3.7rem;
    left: -10.7rem;
}

#centro {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#barra-musica {
    position: relative;
    top: -0.4rem;
    margin-left: 5.5rem;
}

#colunm3 {
    display: flex;
    position: relative;
    left: 5.5rem;
    gap: 47.2rem;
}

#column1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 0.8rem;
    right: 3.2rem;
    gap: 1.6rem;
}

#shuffle {
    position: inherit;
    right: 16.2rem;
}

#loop {
position: inherit;
left: 17.6rem;
}

#volume {
    position: relative;
    top: 0.5rem;
    left: 8rem;
}

#direita {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2.4rem;
    position: relative;
    left: 15rem;
    top: -1.5rem;
}


/* Música mais escutada */
h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 7.1rem;
    margin: 0rem 0rem 3.2rem 24.8rem;
}

.bloco-roxo-dimen{
    margin: 0rem 6.4rem 6.4rem 24.8rem;
}

.bloco-roxo{
    width: 49.8rem;
    height: 12rem;
    display: flex;
    background-color: #C233FF;
    border-radius: 1.6rem;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 63%);
}

.titulo-bloco-roxo{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 1.6rem;
}

#aliciakeys-img{
    height: 8.8rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    border-radius: 1rem;
    margin: 1.5rem 1.6rem;
}

.musica-mais-ouv{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 3.1rem 7.2rem 0.8rem 0rem;
}

.artista-bloco-txt{
    font-weight: 400;
    font-style: italic;
    color: #D1D1D1;
    margin: 0rem 0rem 3.1rem 0rem;
}

.coracao-cinza{
    height: 5.2rem;
    padding: 3.4rem 1.6rem 3.4rem 0rem;
}

.botao-play-cinza{
    height: 5.6rem;
    margin: 3.2rem 3.2rem 3.2rem 0rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    border-radius: 10rem;
}

#coldplay-img{
    height: 9.6rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    border-radius: 10rem;
    margin: 1.2rem 1.6rem;
}

#coldplay-artista{
    width: 10.8rem;
    font-size: 2.2rem;
    margin: 4.5rem 7.8rem 4.5rem 0rem;
    text-decoration: none;
    color: #F8F8F8;
}

/* Info sobre a lista */
.cabecalho-musica{
    margin-top: 4.8rem;
}

.data-hist{
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    line-height: 2.5rem;
    color: #ABD2EF;
    margin: 0rem 0rem 0.8rem 24.8rem;
}

.linha-divisoria{
    width: 92.15rem;
    border: 1px solid #ABD2EF;
    margin: 0rem 16.8rem 0.8rem 24.8rem;
}

/* Lista de Músicas */
.txt-padrao{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.53rem;
}

.musicas-flex{
    display: flex;
    height: 9.6rem;
}

.capa-musica{
    height: 7.2rem;
    margin: 1.6rem 0.8rem 2.4rem 24.8rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.nome-musica{
    width: 26.7rem;
    margin: 2.1rem 0rem 0.8rem 0.8rem;
}

.txt-artista{
    width: 26.7rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(248, 248, 248, 60%);
    padding: 0.8rem 0rem 3rem 0.8rem;
    font-style: italic;
}

.coracao-rosa{
    height: 3.2rem;
    margin: 2.7rem 5.846rem 6.4rem 4rem;
}

.album{
    width: 29.3rem;
    margin: 2.3rem 6.8rem 7.2rem 0rem;
}

.tempo-musica{
    width: 4.9rem;
    margin: 1.6rem 12rem 7.2rem 0rem;
}

.icon-tres-ponts{
    width: 0.8rem;
    height: 3.3rem;
    margin: 1.8rem 8.4rem 6.4rem 0rem;
}

.icon-lixeira{
    height: 3.8rem;
    margin: 1rem 5.6rem 6.8rem 0rem;
}